* {
    padding: 0px;
    margin: 0px;
}
a {
    font: italic 34px'Dosis';
    text-decoration: none;
    color: #07244E;
}
/* normal text and background*/
html {
    background-image: url(images/winter-landscape-7639624_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
    font: 28px 'Dosis';
    color: #07244E;
    width:100vw;
}
.main {
    background-color: rgba(253, 253, 253, 0.753);
    padding-left: 350px;
    padding-top: 120px;
    width: auto;
    height:790px;
    overflow: hidden;
}
.rmain {
    background-color: rgba(253, 253, 253, 0.753);
    padding-left: 200px;
    padding-top: 180px;
    padding-right: 200px;
    width: auto;
    height:790px;
    overflow: hidden;
    transition: 0.75s ease-in-out;
}
body {
    width: 100vw;
}
/*typography ~*/
h1 {
    font: 65px 'Arapey';
}
h2 {
    font:italic 45px 'Arapey';
}
/* all fixed items on screen*/
.alf{
    position: fixed;
    top: -925px;
    left:3px;
    width: 350px;
    height: 1100px;
    display: flex;
    clip-path: polygon(0 0,100% 0,100% 93%,50% 100%,0% 93%);
    transition: 0.5s ease-in-out;
}
.alfb:hover .alf {
    top: 0px;
    transition: 0.5s ease-in-out;
}
.alfb:hover + .rmain{
    padding-left: 450px;
    transition: 0.25s ease-in-out;
}
    /*border*/
.alfb{
    background-color: black;
    position: fixed;
    top: -925px;
    width: 355px;
    height: 1105px;
    display: flex;
    clip-path: polygon(0 0,100% 0,100% 93%,50% 100%,0% 93%);
    transition: 0.5s ease-in-out;
}
.alfb:hover {
    top: 0px;
    transition: 0.5s ease-in-out;
}
/*logo title in the navigation bar*/
img {
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
    width: 80px;
}
.title {
    font: 46px 'Arapey';
    float: right;
    margin-top: 50px;
    margin-right: 30px;
}
/*the navigation bar*/
.navigation {
    /*design*/
    background: #F0FFFB;
    /*size*/
    width: 350px;
    height: 920px;

    /*properties*/
    align-items: center;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
}
.navigation:hover {
    height: 920px;
    background-size: 350px 1000px;
    transition: 0.5s ease-in-out;  
}
/*positioning of buttons*/
.navbar {
    margin-top: 50px;
    margin-left: 0px;
    list-style-type: none;
}
/*The buttons of navigation*/
li {
    font:italic 34px 'Dosis';
    margin: 0px;
}
/*normal buttons*/
.items {
    width: 350px;
    height: 59px;
    font: italic 34px'Dosis';
    border: 0px;
    padding: 14px 0px;
    white-space: nowrap;
    transition: 0.5s ease-in-out;
}
.items:hover .adjust {
    background-color: #2090AC;
    color: aliceblue;
    width: 310px;
    transition: 0.5s ease-in-out;  
}
.adjust {
    width: 0%;
    height: 69px;
    margin-left:0px;
    padding-left: 40px;
    padding-top: 18px;
    white-space: nowrap;
    transition: 0.5s ease-in-out;  
}

/*current page*/
.current {
    width: 350px;
    height: 59px;
    font: italic 34px'Dosis';
    border: 0px;
    padding: 14px 0px;
    white-space: nowrap;
    transition: 0.5s ease-in-out;
}
/*special button*/
.cadjust {
    width: 5px;
    height: 69px;
    margin-left:0px;
    padding-left: 40px;
    padding-top: 18px;
    white-space: nowrap;
    transition: 0.5s ease-in-out; 
    background: repeating-linear-gradient(
  90deg,
  #2090AC,
  #2090AC 8px,
  #46529800 8px,
  #46529800 100px
);
}
.sitems {
    padding: 0px;
    margin-top: 14px;
}
.sitems:hover{
    color: aliceblue;
    width: 350px;
    height: 330px;
    transition: 0.5s ease-in-out;  
    background-color: #2090AC;
}
/*function buttons*/
.webfunctions {
    position: fixed;
    background-color: rgba(102, 51, 153, 0);
    width: 250px;
    height: 90px;
    top: 825px;
    padding-left: 10px;
}

.timer {
    width:55px;
    margin-left: 10px;
}
.notes {
    width: 40px;
    margin-left: 0px;
}

/* the buttons function (notes)*/
.box {
    height: 50px;
    cursor: pointer;
}
.notespanel {
    width: 350px;
    height: 495px;
    left: 350px;
    top: 1200px;
    padding: 10px;

    position: fixed;
    z-index: -1;
    transition: 0.5s ease-in-out;  
    color: #07254e3a;

    background-color: #f0fffba1;
    border-style: solid;
    border-width: 2px;
    border-color: #07254e2f;
    border-radius: 8px;
}
.notespanel:hover {
    width: 350px;
    height: 495px;
    left: 350px;
    top: 1200px;
    padding: 10px;

    position: fixed;
    z-index: -1;
    transition: 0.5s ease-in-out;  
    color: #07254e;

    background-color: #f0fffb;
    border-style: solid;
    border-width: 2px;
    border-color: #07254e;
    border-radius: 8px;
}
.box input:checked ~ .notespanel{
    top: 390px;
    transition: 0.5s ease-in-out;  
}
.checked1 {
    width: 0px;
    height: 0px;
}

/* the buttons function (timer)*/
.timerpanel {
    position: fixed;
    width: 150px;
    height: 45px;
    left: 495px;
    top: 1000px;
    padding: 5px;

    position: fixed;
    font: 38px 'Arapey';
    text-align: center;
    z-index: -1;
    transition: 0.5s ease-in-out;  
    color: #07254e3a;


    background-color: #f0fffba1;
    border-style: solid;
    border-width: 2px;
    border-color: #07254e2f;
    border-radius: 8px;
}
.timerpanel:hover {
    position: fixed;
    width: 150px;
    height: 45px;
    left: 495px;
    top: 1100px;
    padding: 5px;

    position: fixed;
    font: 38px 'Arapey';
    text-align: center;
    z-index: -1;
    transition: 0.5s ease-in-out;  
    color: #07254e;


    background-color: #F0FFFB;
    border-style: solid;
    border-width: 2px;
    border-color: #07244E;
    border-radius: 8px;
}
.checked2:checked ~ .timerpanel{
    top: 825px;
    transition: 0.5s ease-in-out;  
}
.checked2 {
    width: 0px;
    height: 0px;
}
/*stuff on main screen*/
.usefullinfo {
    /*appearance properties*/
    width: 700px;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;

    /*positoning properties*/
    position: absolute;
    bottom: 5px;
    right: 5px;

    /*text properties*/
    text-align: right;
    }
.quotes {
    /*appearance properties*/
    width: 900px;
    height: 200px;
    overflow: hidden;


    /*positoning properties*/
    position: absolute;
    top: 5px;
    right: 5px;

    /*text properties*/
    text-align: right;
}