html {
    background-color: #E5EAEE;
}

.b1 {
    background-color: #2090AC;
    color: azure;
    font: 34px'Arapey';
    border: 0px;
    border-radius: 100px;
    padding: 10px;
}
.b1:hover {    
    background-color: #54bfda;
    color: azure;
    font: 34px'Arapey';
    border: 0px;
    border-radius: 100px;
    padding: 10px;
    transition: 0.5s;
}

.b2 {
    background-color: rgba(182, 199, 199, 0);
    font: 34px'Arapey';
    border: 0px;
    border-radius: 100px;
    padding: 10px;
}
.b2:hover {    
    font: 34px'Arapey';
    text-decoration: underline;
    transition: 0.5s;
}
div {
    background-color: blueviolet;
    width: 5px;
    margin: 0px;
}
